<main class="bg-black flex flex-col items-center justify-center min-h-screen">

    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="bg-white p-8 rounded-lg flex flex-col w-full max-w-md">
      <button class="text-black mb-4">Google</button>
  
      <div class="flex flex-col space-y-4">
        <div class="flex flex-col">
          <label for="username" class="text-black">Nombre de usuario <span class="text-red-500">*</span> </label>
          <input type="text" id="username" name="username" placeholder="Nombre" class="border-b border-gray-400 focus:border-black focus:translate-y-1 outline-none" [(ngModel)]="formData.username" required>
        </div>
  
        <div class="flex flex-col">
          <label for="email" class="text-black">Correo electrónico <span class="text-red-500">*</span> </label>
          <input type="email" id="email" name="email" placeholder="Correo" class="border-b border-gray-400 focus:border-black focus:translate-y-1 outline-none" [(ngModel)]="formData.email" required>
        </div>
  
        <div class="flex flex-col relative">
          <label for="password" class="text-black">Contraseña <span class="text-red-500">*</span> </label>
          <input placeholder="Contraseña" type="{{ hidePassword ? 'password' : 'text' }}" id="password" name="password" [(ngModel)]="formData.password" required class="border-b border-gray-400 focus:border-black focus:translate-y-1 outline-none">
          <button (click)="togglePasswordVisibility()" class="absolute top-1/2 transform -translate-y-1/2 right-0 mr-2">
            <img src="./assets/svg/Eye.svg" alt="">
          </button>
        </div>
      </div>
  
      <button class="bg-black text-white p-2 rounded cursor-pointer mt-4" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
      <p>¿Tienes cuenta? <span routerLink="/login" class="text-blue-500 cursor-pointer hover:underline" >iniciar sesión</span> </p>
    </form>
  
  </main>
  